.nagykep img{
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
}
main {
    width: 80%;
    margin: auto;
}
article {
    margin: 20px;
}
footer {
    text-align: center;
}
#balGomb {

}